@model FoodViewModel

<h1>Food menu (@ViewBag.CurrentViewName View)</h1>
<a href="/Food/Table">Table View</a>

@foreach (var food in Model.Foods){
    <div>
        <img src="@food.ImageURL" alt="@food.Name">
        <div>
            @food.Name
            @food.Price.ToString("0.00 NOK")
        </div>
    </div>
}